@CHARSET "UTF-8";

/*------------------------------------barre des menus---------------------------------------------*/
#barre-menus ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#barre-menus li {
	display: inline-block;
}

nav#barre-menus {
	text-align: center;
	background-color: #8f5902;
	margin-left: 0%;
	margin-right: 0%;
	line-height: 50px;
}

ul#ul-horizontale {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a.menu-horizontale {
	padding-left:15px;
	padding-right:15px;
	display: block;
	line-height: 50px;
	background: #8f5902;
	color: #8f5902;
	text-decoration: none;
	text-align: center;
	color: white;
}

a.menu-horizontale:hover {
	color: white;
	background-color: #c17d11;
}


/*---------------------------menus utilisateur----------------------------------------------------*/
#tete-menus ul {
	padding: 0px;
	margin: 0px;
}

#tete-menus ul #menu-ppale {
	background: url("../img/icone-portrait.gif");
	background-repeat: no-repeat;
}

#tete-menus li {
	list-style-type: none;
	position: relative;
	background-color: #999;
	;
}

#tete-menus ul li ul a {
	display: block;
	text-align: center;
	width: 145px;
	height: 30px;
	color: #003366;
	background-color:#999;
}

#tete-menus ul ul {
	position: absolute;
	top: 20px;
	visibility: hidden;
	/*derouler le menu à gauche*/
	right: 0px;
}

#tete-menus ul li:hover ul {
	visibility: visible;
}

#tete-menus li:hover {
	background-color: #003366;
}

#tete-menus ul li ul a:hover {
	color: #FFF;
	background-color: #003366;
}

/* --------------------------liste des us pour selection dans le sprint ------------------------------*/
#liste-us ul {
	list-style-type: none;
}

/*-------------------------------------menus des taches ( à optimiser)---------------------------------*/
#taches-menus ul {
	padding: 0px;
	margin: 0px;
}

a.menu-Sprint {
	background: url("../img/icone_modifier.gif");
	background-repeat: no-repeat;
	color: white;
	text-decoration: none;
}



#taches-menus li {
	list-style-type: none;
	position: relative;
	background-color: #FFF;
	;
}

#taches-menus ul li ul a {
	display: block;
	text-align: center;
	width: 250px;
	height: 30px;
	color: #003366;
	background-color: #999;
}




#taches-menus ul ul {
	position: absolute;
	/*decalage vers le bas*/
	top: 5px;
	visibility: hidden;
	/*decalage le menu à gauche*/
	left: 22px;
}

#taches-menus ul li:hover ul {
	visibility: visible;
	background-color: #999;
}

#taches-menus li:hover {
	background-color: #999;
}

#taches-menus ul li ul a:hover {
	color: #FFF;
	background-color: #003366;
}


