@CHARSET "UTF-8";

/* Corps : display les rangent côte à côte*/
article, aside.aside-sprintConteneur {
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}

article {
	/*width: 625px;*/
	margin-right: 15px;
}

section {
	margin-left: 10%;
	margin-right: 10%;
}

aside.aside-sprintConteneur {
	position: relative;
	width: 235px;
	/*background-color: #706b64;*/
	padding: 10px;
	font-size: 0.9em;
	border: 1px dotted gray;

}

a.a-sprint {
	text-decoration: none;
	text-align: center;
	border: 1px dotted gray;


}


a#a-ajouterSprint {
	color: white;
	background-color: #204a87;
}

a#a-afficherSprint {
	color: #00FFFF;
}

h2#h2-projet {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}

section#section-projet{
	text-align: center;
	padding:10%;
	margin:auto;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}