
fieldset{

    background-color: white;
    
    
}

form{
    margin-left:28%;

    margin-right: 25%;
}

#erreur_color{
	color:red;
}

h1{
 color: white;
 text-align: center;
}

header{
 background-color: #003366;
}

body{
 background-color: #F0FAFF;
}





